
.nav-bar {
  display: grid;
  grid-template-columns: 64px 200px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-shadow: 0 5px 5px -2px rgba(0,0,0,.2);
  width: 100vw;
  height: 70px
}

.logo {
  grid-column: 1;
  position: relative;
  left: 0;
  width: 56px;
  height: 100%;
  background-color: blue;
}

.heading {
  margin-left: 25px;
  grid-column: 2;
  font-weight: 500;
  position: relative;
}

.logo-svg {
  background: url('../../../assets/Logo.svg');
  position: absolute;
}